@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #5c48ee;
  --primary-color-dark: #0f1e6a;
  --secondary-color: #f9fafe;
  --text-color: #333333;
  --white: #ffffff;
  --max-width: 1200px;
}

body {
  background-color: var(--secondary-color);
  font-size: medium;
}

/* Home section design */
#home {
  width: 100%;
  height: 100vh;
}
nav {
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_logo a {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
  transition: .3s;
}

.nav_links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.link a {
  padding: .5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
  transition: .3s;
}

.link a:hover {
  color: var(--primary-color);
}

.link .nav_btn {
  padding: .5rem 2rem;
  color: var(--white) !important;
  background-color: var(--primary-color);
  border-radius: 5px;
}

.link .nav_btn:hover {
  background-color: var(--primary-color-dark);
}

.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  min-height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}

.content_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content_container h1 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.5rem;
  color: var(--primary-color-dark);
  margin-bottom: 1rem;
}

.heading_1 {
  font-weight: 700;
}

.heading_2 {
  font-weight: 700;
  color: var(--primary-color);
}

.content_container p {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 2rem;
}

.content_container form {
  display: flex;
  align-items: center;
}

.content_container input {
  width: 100%;
  max-width: 300px;
  padding: 1rem;
  font-size: .8rem;
  outline: none;
  border: none;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.content_container button {
  width: fit-content;
  padding: 1rem;
  font-size: .8rem;
  white-space: nowrap;
  background-color: var(--primary-color);
  color: var(--white);
  outline: none;
  border: none;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  transition: .3s;
  cursor: pointer;
}

.content_container button:hover {
  background-color: var(--primary-color-dark);
}

.image_container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid: 2rem;
  place-content: center;
}

.image_container img {
  width: 100%;
  max-width: 300px;
  margin: auto;
  border-radius: 10px;
}

.image_container img:nth-child(1) {
  transform: translateY(70px);
}

.image_container img:nth-child(2) {
  transform: translateY(-70px);
}

.image_content {
  position: absolute;
  width: 100%;
  max-width: 310px;
  left: 50%;
  top: 50%;
  transform: translate(-35%, 50%);
  background: linear-gradient(to right, var(--primary-color), var(--primary-color-dark));
  color: var(--white);
  padding: 1rem 2rem;
  border-radius: 10px;
}

.image_content li {
  margin-bottom: 0.5rem;
}

@media(width < 900px) {
  .link a:not(.nav_btn){
    display: none;
  }
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
  .content_container {
    text-align: center;
  }
  .content_container form {
    margin-right: auto;
    margin-left: auto;
  }
  .image_container {
    grid-area: 1/1/2/2;
  }
  .image_container img {
    transform: translateY(0) !important;
  }
}

/* about section design */

.mvv-container{
  max-width: 90%;
  margin: 50px auto 0;
}

.mvv-container .mvv-block {
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.mvv-container .mvv-block .image-2 {
  flex: 0 0 auto;
  width: 400px;
  overflow: hidden;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, .3);
}

.mvv-container .mvv-block .image-2 img {
  width: 100%;
  border-radius: 5px;
  transition: .3;
  transform: scale(1);
}

.mvv-container .mvv-block .image-2:hover img {
  transform: scale(1.05);
}

.mvv-container .mvv-block .info {
  flex: 0 0 auto;
  width: calc(100% - 400px);
  box-sizing: border-box;
  align-items: center;
}

.mvv-container .mvv-block .info h5 {
  font-weight: 700;
  font-size: 22px;
  color: blue;
  margin-bottom: 10px;
}

.mvv-container .mvv-block .info p{
  font-size: 15px;
}

@media screen and (min-width: 1024px) {
  .mvv-container .mvv-block:nth-child(odd) .image-2 {
    order: 1;
  }
  .mvv-container .mvv-block:nth-child(even) .image-2 {
    order: 2;
  }

  .mvv-container .mvv-block:nth-child(odd) .info {
    order: 2;
    padding-left: 30px;
  }
  .mvv-container .mvv-block:nth-child(even) .info {
    order: 1;
    padding-right: 30px;
  }
}

/* directors section design */
.about {
  width: 100%;
  min-height: 100vh;
  background-color: #ddd;
  padding-top: 20px;
}

.about .title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 22px;
  color: #222;
  letter-spacing: 1.5px;
  padding: 50px 0px;
}

.about .title h1::after {
  content: '';
  width: 180px;
  height: 60px;
  background-color: #222;
  border-radius: 6px;
  position: relative;
  display: block;
  margin: auto;
}

.con {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  margin: 30px auto;
}

.con .article {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  background: #eee;
  padding: 25px 25px;
}

.con .article h2 {
   font-size: 22px;
   line-height: 1.5;
   letter-spacing: 1px;
   color: #03a9f4;
  }

  .con .article {
    margin-top: 30px;
    font-size: 19px;
    line-height: 1.5;
    color: #222;
  }

  .con .article a {
    font-size: 22px;
    text-decoration: none;
    display: inline-block;
    padding: 12px 35px;
    background-color: #cc0000;
    border-radius: 25px;
    color: #fff;
    border: 1px solid #cc0000;
    letter-spacing: 1.4;
    margin-top: 35px;
}

.con .article a:hover {
    background-color: #fff;
    color: #cc0000;
    transition: .2s ease;
}

.image-sec {
  width: 100%;
  margin: auto;
}

.image-sec img {
  width: 500px;
  height: 500px;
}

@media screen and (max-width: 900px) {
  .con {
    grid-template-columns: repeat(1, 1fr);
  }
  .article {
    text-align: center;
  }
}

/* services setion design */

#services {
  height: 100vh;
  width: 100%;
  display: grid;
  place-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #000;
}

.column {
  width: 100%;
  padding: 0 1em 1em 1em;
  text-align: center;
}

.card {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  background: linear-gradient(#ffffff 50%, #2c7bfe 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
}

.card:hover {
  background-position: 0 100%;
}

.card:hover .icon-wrapper {
  background-color: #fff;
  color: #2c7bfe;
}

.card:hover h3 {
  color: #fff;
}

.card:hover p {
  color: #f0f0f0;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  color: #1f194c;
  margin: 1em 0;
}

p {
  color: #575a7b;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.icon-wrapper {
  background-color: #2c7bfe;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
}

@media screen and (min-width: 768px) {
  #services {
    padding: 0 2em;
  }
  .column {
    flex: 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 992px) {
  #section {
    padding: 1em 3em;
  }
  .column {
    flex: 0 0 33.33%;

  }
}


/* contact section design */

#contact {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #112d42;
}

#contact::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #03a9f4;
}

#contact .contact {
  position: relative;
  min-width: 1100px;
  min-height: 550px;
  display: flex;
  z-index: 1000;
}

#contact .contact .contactinfo {
  position: absolute;
  top: 40px;
  width: 350px;
  height: calc(100% - 80px);
  background: #0f3959;
  z-index: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: o 20px 20px rgba(0, 0, 0, 0.2);
}

#contact .contact .contactinfo h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

#contact .contact .contactinfo .info {
  position: relative;
  margin: 20px 0;
}

#contact .contact .contactinfo .info li {
  position: relative;
  list-style: none;
  display: flex;
  margin: 20px 0;
  cursor: pointer;
  align-items: flex-start;
}

#contact .contact .contactinfo .info li span:nth-child(1) {
  width: 30px;
  min-width: 30px;
}

#contact .contact .contactinfo .info li span:nth-child(1) img {
  /* min-width: 100%; */
  filter: invert(1);
  opacity: 0.5;
  width: 35px;
  height: 35px;
}
#contact .contact .contactinfo .info li span:nth-child(2) {
  color: #fff;
  margin-left: 10px;
  font-weight: 300;
  opacity: 0.5;
}

#contact .contact .contactinfo .info li:hover span:nth-child(1) img,
#message .contact .contactinfo .info li:hover span:nth-child(2) {
  opacity: 1;
}

#contact .contact .contactinfo .sci {
  position: relative;
  display: flex;
}

#contact .contact .contactinfo .sci li {
  list-style: none;
  margin-right: 15px;
}

#contact .contact .contactinfo .sci li a {
  text-decoration: none;
}

#contact .contact .contactinfo .sci li a img {
  filter: invert(1);
  opacity: 0.5;
  width: 35px;
  height: 35px;
}

#contact .contact .contactform {
  position: absolute;
  padding: 70px 50px;
  background: #fff;
  margin-left: 150px;
  padding-left: 250px;
  width: calc(100% - 150px);
  height: 100%;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}

#contact .contact .contactform h2 {
  color: #0f3959;
  font-size: 24px;
  font-weight: 500;
}

#contact .contact .contactform .formBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}

#contact .contact .contactform .formBox .inputBox {
  position: relative;
  margin: 0 0 35px 0;
}

#contact .contact .contactform .formBox .inputBox.w50 {
  width: 47%;
}

#contact .contact .contactform .formBox .inputBox.w100 {
  width: 100%;
}

#contact .contact .contactform .formBox .inputBox input,
#contact .contact .contactform .formBox .inputBox textarea {
  width: 100% ;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  resize: none;
  border: none;
  border-bottom: 1px solid #777;
  outline: none;
}

#contact .contact .contactform .formBox .inputBox textarea {
  min-height: 120px;
}

#contact .contact .contactform .formBox .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  transition: .5s;
  pointer-events: none;
}

#contact .contact .contactform .formBox .inputBox input:focus ~span,
#contact .contact .contactform .formBox .inputBox textarea:focus ~span,
#contact .contact .contactform .formBox .inputBox input:valid ~span,
#contact .contact .contactform .formBox .inputBox textarea:valid ~span {
  transform: translateY(-20px);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #ff568c
}

#contact .contact .contactform .formBox .inputBox input[type="submit"] {
  position: relative;
  cursor: pointer;
  background: #0f3959;
  color: #fff;
  border: none;
  max-width: 150px;
  padding: 12px;
}

#contact .contact .contactform .formBox .inputBox input[type="submit"]:hover {
  background: #ff568c;
}

@media screen and (max-width: 990px) {
 
}

/* footer section design */

footer {
  display: grid;
  justify-content: center;
  align-items: end;
  min-height: 100vh;
  background: #e8e8e8;
  padding: 50px;
  position:relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background-color: #fff;
}

footer .footer {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

footer .footer .sec-aboutus h2 {
  position: relative;
  color: #333;
  font-weight: 600;
  margin-bottom: 15px;
}

footer .footer .sec-aboutus p {
  color: #555;
}

footer .footer .sci_1 {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 50px);
}

footer .footer .sci_1 li {
  list-style: none;
}

footer .footer .sci_1 li a {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: #333;
  display: grid;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

footer .footer .sci_1 li a i {
  color: #fff;
  font-size: 20px;
}

footer .footer .sec-quicklinks {
  position: relative;
}

footer .footer .sec-quicklinks ul li {
  list-style: none;
}

footer .footer .sec-quicklinks ul li a {
  color: #555;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

footer .footer .sec-contact .inf {
  position: relative;
}

footer .footer .sec-contact .inf {
  display: grid;
  grid-template-columns: 30px 1fr;
  margin-bottom: 16px;
}

footer .footer .sec-contact .inf li span {
  color: #555;
  font-size: 20px;
}

footer .footer .sec-contact .inf li a {
  color: #555;
  text-decoration: none;
} 

.copyrightText {
  width: 100%;
  background: #fff;
  padding: 20px 100px 30px;
  text-align: center;
  color: #555;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

@media (max-width: 991px) {
  footer {
    padding: 40px;
  }
  footer .footer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .copyrightText {
padding: 20px 40px 30px;
  }
  @media (max-width: 768px) {
    footer .footer {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}